.flexRowContent--shelfRelatedContainer {
  max-width: 75rem;

  margin: 0 auto;
}

.flexRow--shelfRelatedContainer {
  margin-top: 2rem;
}

.flexRow--shelfRelatedContainer :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: fit-content !important;
  overflow: hidden;
}

.flexRowContent--quickviewMainRow .flexColChild {
  display: flex;
  flex-direction: inherit;
}

.flexRow--quickviewMainRow {
  height: 100%;

  padding: 3rem 1rem;
}

.flexCol--quickviewDetails {
  justify-content: center;
}
