.caretIcon--product-images {
  height: 0.875rem;
  width: 0.875rem;

  border-radius: 0.25rem;
  padding: 0.625rem;

  background-color: #e5e9f2;
}

.carouselContainer--product-images {
  overflow: visible;
}

.container :global(.vtex-flex-layout-0-x-flexRowContent--product-breadcrumb) {
  margin-top: 0;
}

.container
  :global(.vtex-flex-layout-0-x-flexRowContent--product-breadcrumb)
  :global(.vtex-breadcrumb-1-x-container) {
  padding: 0.75rem 0;
}

.productDescriptionText {
  font-size: 0.875rem;

  color: #48494c;
}

.productDescriptionText .container {
  padding: 0;
}

.productDescriptionTitle {
  margin-bottom: 1.5rem;

  font-size: 1rem;
  font-weight: bold;

  color: #48494c;
}

.productImagesGallerySwiperContainer--product-images {
  padding-bottom: 3rem;
}

.productImagesGallerySwiperContainer--product-images
  :global(.vtex-store-components-3-x-swiperCaret--product-images) {
  transform: translate(0, -65%);
}

.productNameContainer--quickview {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  margin-top: 1rem;
  padding: 0 1rem;

  font-size: 1.375rem;
  text-align: center;
  -webkit-line-clamp: 2;

  color: #48494c;

  overflow: hidden;
}

.productImage--product-images {
  overflow: hidden;
}

.productImagesGallerySwiperContainer--product-images .swiperBullet {
  opacity: 1;

  background: #e5e9f2;
}

.productImagesGallerySwiperContainer--product-images .swiperBullet--active {
  background: #ff3333;
}

.productImagesGallerySwiperContainer--product-images
  .swiperPaginationClickable {
  bottom: 0;
}

@media (min-width: 1026px) {
  .figure--product-images {
    height: 5.125rem;
    width: 5.125rem;

    border: 1px solid #e5e9f2;
    border-radius: 0.25rem;
    padding: 0.5rem;

    background-color: #fff;

    box-shadow: 0px 3px 12px #0000001a;
  }

  .productNameContainer--quickview {
    padding: 0;

    text-align: left;
  }

  .productImagesGallerySwiperContainer--product-images {
    height: 28.875rem;
  }

  .productImagesGallerySwiperContainer--product-images
    .productImageTag--product-images--main {
    height: 25.875rem !important;
    width: 25.875rem !important;

    margin: 0 auto;
  }

  .content--product-images {
    padding-top: 1rem;
  }

  .productDescriptionTitle {
    color: #ff3333;
  }
}
