.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  color: #0067c7;
  font-size: 0.875rem;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  color: #0067c7;
  font-size: 0.875rem;
}

@media (min-width: 1026px) {
  .searchBarContainer {
    display: flex !important;
    align-items: center;
  }

  .portalContainer--header-search-bar {
    top: 19px !important;
    left: 15.5vw !important;
  }
}
