.assemblyInfoContainer {
  position: relative;

  display: flex;
  flex-direction: column;

  height: fit-content;
  width: 100%;

  gap: 2rem;

  overflow: hidden;
}

.assemblyInfoTitle {
  margin: 0.125rem 0 0 0;

  font-size: 1rem;
  text-align: center;

  color: #48494c;
}

.assemblyInfoContent {
  display: flex;
  flex-direction: column;

  max-height: 22rem;
  width: 100%;

  gap: 0.5rem;
  padding: 0 1rem 1rem 0;

  overflow-y: auto;
}

.assemblyInfoContent::-webkit-scrollbar {
  width: 5px;
}

.assemblyInfoContent::-webkit-scrollbar-track {
  border-radius: 10px;

  background: #e5e9f2;
}

.assemblyInfoContent::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background: #ff3333;
}

.assemblyInfoContent::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.9);
}

.assemblyInfoRuleTitle {
  margin: 0;

  font-size: 1rem;

  color: #48494c;
}

.assemblyInfoRuleDescription {
  margin: 0.25rem 0 0 0;

  font-size: 0.875rem;

  color: #48494c;
}

.assemblyInfoContainer .closeButton {
  position: absolute;
  top: -36px;
  right: -12px;

  height: 3rem;
  width: 3rem;

  border: none;

  background-color: transparent;

  cursor: pointer;
  transform: translateY(50%);
}

.assemblyInfoContainer .closeButton:hover {
  background-color: transparent;
}

.assemblyInfoContainer .closeButton .closeButtonLabel {
  padding: 0;
  font-size: 0;
}

.assemblyInfoContainer .closeButton .closeButtonLabel::before {
  content: '';
  display: inline-block;

  height: 1.75rem;
  width: 1.75rem;

  background-image: url('data:image/svg+xml,%3Csvg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="10.6066" y="12.7279" width="2" height="33" rx="1" transform="rotate(-45 10.6066 12.7279)" fill="%2348494C"/%3E%3Crect x="12.7279" y="36.0624" width="2" height="33" rx="1" transform="rotate(-135 12.7279 36.0624)" fill="%2348494C"/%3E%3C/svg%3E') !important;
  background-repeat: no-repeat;
  background-size: 1.75rem 1.75rem;
}
