.container--title-section-link {
  color: white;
  font-size: 1.35rem;
  font-weight: 300;
  padding-top: 3rem;
}

.paragraph--title-section-link {
  margin-bottom: 12px;

  font-size: 1.125rem;
  font-weight: 600;

  color: #e5e9f2;
}

.paragraph--platform,
.paragraph--footer-copy,
.paragraph--development-text {
  color: #787a7f;
}

.paragraph--payment-methods-title,
.paragraph--security-badges-title,
.paragraph--social-icons-title {
  color: #e5e9f2;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  padding-top: 3rem;
}

.container--payment-methods-title,
.container--security-badges-title,
.container--social-icons-title {
  justify-content: center;
}

.container--footer-text .paragraph--footer-text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 1rem 0;
  font-size: 1rem;
}

@media (min-width: 1026px) {
  .container--title-section-link,
  .container--footer-text {
    display: flex;
    justify-content: flex-start;
  }

  .paragraph--title-section-link,
  .container--title-section-link {
    margin-top: 0;
    padding-top: 0;
  }

  .paragraph--footer-text {
    margin: 0.8rem 0 !important;
    line-height: 1;
  }

  .container--footer-copy {
    justify-content: flex-start;
  }

  .paragraph--development-text,
  .paragraph--platform {
    margin: 0.4rem 0 !important;
    line-height: 1;
  }

  .paragraph--payment-methods-title,
  .paragraph--security-badges-title,
  .paragraph--social-icons-title {
    padding-top: 0 !important;
    margin-top: 0;
    line-height: 1.5;
    text-align: start !important;
  }

  .container--payment-methods-title,
  .container--security-badges-title {
    justify-content: flex-start;
  }

  .container--social-icons-title {
    display: none;
  }
}
