.menuFooter {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 1rem;
  padding: 1.25rem 1rem 1rem 1rem;

  border-top: 1px solid #c1c4cc;
}

.menuFooter div {
  display: flex;

  gap: 0.75rem;
}

.menuFooter div a {
  margin: 0;

  font-size: 0.875rem;
  text-decoration: none;

  color: #787a7f;
}

.menuFooter img {
  height: 1rem;
  width: 1rem;

  filter: invert(46%) sepia(70%) saturate(6817%) hue-rotate(343deg)
    brightness(103%) contrast(105%);
}
