@media (min-width: 1026px) {
  .container--sticky-header :global(.vtex-mega-menu-2-x-menuContainerNav) {
    left: 50%;
    top: 5.5rem;

    max-width: 75rem;
    height: 23rem;
    width: 95vw;

    border: none;
    border-radius: 0.5rem;

    box-shadow: 0px 3px 12px #0000001a;
    transform: translateX(-50%);
  }
}
